<a href="https://colab.research.google.com/github/charlesochanda/Week-3-Python-Project/blob/master/Week_3_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
#Import the required libraries using the import function

In [19]:
file_1=pd.read_csv('MoringaSchool_CB_CDR_20120507.csv')
file_1
#Load the reqired file onto the notebook

      PRODUTC  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
0       Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1         sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2         sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3       Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4       Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv
5        data      0  2012-05-06 23:07:26.0  ...     OTHER  /lrUXVGVcN  /lrUXVGVcN
6       Voice      0  2012-05-06 23:08:02.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
7       Voice      0  2012-05-06 23:08:03.0  ...     19e2e  09UjmmY1Ds  09UjmmY1Ds
8       Voice      0  2012-05-06 23:08:05.0  ...     19e2e  0DeimCpZOc  0DeimCpZOc
9         sms      0  2012-05-06 23:08:43.0  ...     19e2e  01MDiY5F89  01MDiY5F89
10        sms      0  2012-05-06 23:08:50.0  ...     19e2e  0Fmr/IZtQ+  0Fmr/IZtQ+
11        sms      0  2012-05-06 23:09:12.0  ...     19e2e  0MZBLLzPYZ  0MZBLLzPYZ
12        sms      0  2012-05-06 23:09:13.0  ...     19e2e  0//cZOoEXj  0//cZOoEXj
13        sms     25  2012-05-06 23:09:16.0  ...     19e2e  2dmu2Iy1CX  2dmu2Iy1CX
14      Voice      0  2012-05-06 23:09:26.0  ...     19e2e  0Fmr/IZtQ+  0Fmr/IZtQ+
15      Voice      0  2012-05-06 23:09:51.0  ...     19e2e  176sGHv7Ym  176sGHv7Ym
16      Voice     44  2012-05-06 23:09:54.0  ...     19e2e  ++ctND+jGD  ++ctND+jGD
17      Voice      0  2012-05-06 23:09:59.0  ...     19e2e  1JODMow6DN  1JODMow6DN
18        sms      0  2012-05-06 23:10:05.0  ...     19e2e  2PbwFG2K9y  2PbwFG2K9y
19      Voice     14  2012-05-06 23:10:23.0  ...     19e2e  2GgIN622rt  2GgIN622rt
20       data      0  2012-05-06 23:10:30.0  ...     OTHER  /vLAMOS+Qm  /vLAMOS+Qm
21        sms      0  2012-05-06 23:10:41.0  ...     19e2e  2dmu2Iy1CX  2dmu2Iy1CX
22        sms     50  2012-05-06 23:11:14.0  ...     19e2e  2FzOAUm82C  2FzOAUm82C
23       data      0  2012-05-06 23:11:27.0  ...     OTHER  2yuhUrSXQu  2yuhUrSXQu
24      Voice      0  2012-05-06 23:11:27.0  ...     19e2e  3mQAiRAfo7  3mQAiRAfo7
25       data      0  2012-05-06 23:12:07.0  ...     OTHER  2FzOAUm82C  2FzOAUm82C
26      Voice      0  2012-05-06 23:12:10.0  ...     19e2e  +gySf02tKW  +gySf02tKW
27      Voice     19  2012-05-06 23:12:25.0  ...     19e2e  /EkqCbWDau  /EkqCbWDau
28        sms     25  2012-05-06 23:12:25.0  ...     19e2e  /kxqxDGV0Z  /kxqxDGV0Z
29        sms      0  2012-05-06 23:12:36.0  ...     19e2e  4K++Px614U  4K++Px614U
...       ...    ...                    ...  ...       ...         ...         ...
21562   Voice     60  2012-05-07 07:00:15.0  ...     19e2e  5098c9e365  75bef3291a
21563   Voice     27  2012-05-07 07:00:15.0  ...     OTHER  12b9783462  d7a531cfa8
21564   Voice    698  2012-05-07 07:00:15.0  ...     19e2e  926a847e28  d8682c35fc
21565   Voice     74  2012-05-07 07:00:15.0  ...     19e2e  42db650cd4  952ba02486
21566   Voice    880  2012-05-07 07:00:15.0  ...     OTHER  54f06fd956  3834146596
21567   Voice      0  2012-05-07 07:00:15.0  ...     19e2e  eb281963f0  ad84d6f9fe
21568   Voice    118  2012-05-07 07:00:15.0  ...     19e2e  7bdb2445e4  8e22e94b4e
21569   Voice      0  2012-05-07 07:00:15.0  ...     19e2e  50770231fb  660b5ea9ad
21570   Voice     43  2012-05-07 07:00:15.0  ...     19e2e  e0aa79e0a0  e293f755da
21571   Voice     15  2012-05-07 07:00:15.0  ...     19e2e  2241acc5c8  0e1869d4e8
21572   Voice     39  2012-05-07 07:00:15.0  ...     19e2e  bcc3209833  b4e77d440c
21573   Voice      0  2012-05-07 07:00:15.0  ...     19e2e  3f4af49d6c  969b8d0e39
21574   Voice      3  2012-05-07 07:00:15.0  ...     19e2e  32c7f64ac1  4df1cab780
21575   Voice    102  2012-05-07 07:00:15.0  ...     19e2e  7bdb2445e4  8e22e94b4e
21576   Voice      0  2012-05-07 07:00:15.0  ...     19e2e  fb4a029745  b7a160c985
21577   Voice     25  2012-05-07 07:00:15.0  ...     19e2e  e1a5457249  4906ef4504
21578   Voice     86  2012-05-07 07:00:15.0  ...     19e2e  6cf2e55747  0d29cf42e0
21579   Voice     22  2012-05-07 07:00:15.0  ...     19e2e  fc91429329  a38efdcc21
21580   Voice     13  2012-05-07 07:00:15.0  ...     19e2e  dfc6d54521  c9d8e4cdf1
21581   Voice     60  2012-05-07 07:00:15.0  ...     19e2e  2a90e0490f  af5a5167d4
21582   Voice      0  2012-05-07 07:00:15.0  ...     19e2e  3003be076c  2802d8247a
21583   Voice     14  2012-05-07 07:00:15.0  ...     19e2e  c92be6915d  61bee9c70c
21584   Voice      6  2012-05-07 07:00:15.0  ...     19e2e  0a27eecceb  700e13a5cf
21585   Voice     28  2012-05-07 07:00:15.0  ...     19e2e  afb5f8fbab  fe31a370fe
21586   Voice     60  2012-05-07 07:00:15.0  ...     19e2e  cc7ce19d6b  b47a998a3e
21587   Voice      0  2012-05-07 07:00:15.0  ...     19e2e  92419cabe3  4906ef4504
21588   Voice     20  2012-05-07 07:00:15.0  ...     19e2e  7773627c12  9ef9616350
21589   Voice     29  2012-05-07 07:00:15.0  ...     19e2e  ff4d562703  42072d1dc6
21590   Voice    195  2012-05-07 07:00:15.0  ...     19e2e  1e55cfc9d0  43e67db037
21591   Voice      0  2012-05-07 07:00:15.0  ...       NaN         NaN         NaN

[21592 rows x 10 columns]

In [20]:
df1=pd.DataFrame(file_1)
df1.tail()
#Create a data frame/ helps preview the dataset

      PRODUTC  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
21587   Voice      0  2012-05-07 07:00:15.0  ...     19e2e  92419cabe3  4906ef4504
21588   Voice     20  2012-05-07 07:00:15.0  ...     19e2e  7773627c12  9ef9616350
21589   Voice     29  2012-05-07 07:00:15.0  ...     19e2e  ff4d562703  42072d1dc6
21590   Voice    195  2012-05-07 07:00:15.0  ...     19e2e  1e55cfc9d0  43e67db037
21591   Voice      0  2012-05-07 07:00:15.0  ...       NaN         NaN         NaN

[5 rows x 10 columns]

In [21]:
df1.columns=['PRODUCT', 'VALUE', 'DATE', 'CELL', 'NUM_INT_A', 'NUM_INT_B', 'COUNTRY_A', 'COUNTRY_B', 'CELL_ID', 'SITE_ID' ]
df1.head()

  PRODUCT  VALUE                   DATE  ... COUNTRY_B     CELL_ID     SITE_ID
0   Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1     sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2     sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3   Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv

[5 rows x 10 columns]

In [0]:

file_2=pd.read_csv('MoringaSchool_CB_CDR_20120508.csv')
file_2
#Load the reqired file onto the notebook

In [23]:
df2=pd.DataFrame(file_2)
df2.tail()
#Create a data frame/ helps preview the dataset

       PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
284333    data      0  2012-05-08 03:36:44.0  ...     OTHER  ffa6759bb2         NaN
284334     sms      0  2012-05-08 03:36:45.0  ...     19e2e  cba68d0aba  6d70dae094
284335     sms      0  2012-05-08 03:36:45.0  ...     19e2e  60339d459f  e1a3687210
284336     sms      0  2012-05-08 03:36:45.0  ...     19e2e  92a4a0642c  700e13a5cf
284337     sms      0  2012-05-08 03:36:45.0  ...       NaN         NaN         NaN

[5 rows x 10 columns]

In [24]:
df2.columns=['PRODUCT', 'VALUE', 'DATE', 'CELL', 'NUM_INT_A', 'NUM_INT_B', 'COUNTRY_A', 'COUNTRY_B', 'CELL_ID', 'SITE_ID' ]
df2.head()

  PRODUCT  VALUE                   DATE  ... COUNTRY_B     CELL_ID     SITE_ID
0     sms      0  2012-05-07 23:02:06.0  ...     19e2e  +854AcBQT2  +854AcBQT2
1   Voice      0  2012-05-07 23:03:44.0  ...     19e2e  +854AcBQT2  +854AcBQT2
2     sms      0  2012-05-07 23:04:06.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
3   Voice     37  2012-05-07 23:04:48.0  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
4     sms     25  2012-05-07 23:04:58.0  ...     19e2e  +bO+qkSonO  +bO+qkSonO

[5 rows x 10 columns]

In [25]:
file_3=pd.read_csv('MoringaSchool_CB_CDR_20120509.csv')
file_3
#Load the reqired file onto the notebook

       PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B      CELLID     SIET_ID
0        Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1          sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2        Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3          sms      0  2012-05-08 23:03:04.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4        Voice     22  2012-05-08 23:03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA
5        Voice     10  2012-05-08 23:03:59.0  ...     19e2e  +e+xcimwre  +e+xcimwre
6          sms      0  2012-05-08 23:06:06.0  ...     19e2e  +R5ccmtyJf  +R5ccmtyJf
7        Voice     10  2012-05-08 23:06:55.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
8          sms     25  2012-05-08 23:07:09.0  ...     19e2e  13O1+JEun3  13O1+JEun3
9          sms      0  2012-05-08 23:07:38.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA
10         sms      0  2012-05-08 23:07:43.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA
11         sms      0  2012-05-08 23:07:55.0  ...     19e2e  /NPTR0H+5I  /NPTR0H+5I
12         sms      0  2012-05-08 23:08:15.0  ...     19e2e  18MlD9e2CO  18MlD9e2CO
13         sms      0  2012-05-08 23:08:19.0  ...     19e2e  0K+IDi1yjl  0K+IDi1yjl
14         sms      0  2012-05-08 23:08:24.0  ...     19e2e  2GgIN622rt  2GgIN622rt
15         sms     50  2012-05-08 23:08:49.0  ...     19e2e  051KhYDCpv  051KhYDCpv
16       Voice     14  2012-05-08 23:09:03.0  ...     19e2e  2aXXOLyR5M  2aXXOLyR5M
17       Voice      0  2012-05-08 23:09:04.0  ...     19e2e  /lW1z7T9L8  /lW1z7T9L8
18        data      0  2012-05-08 23:09:24.0  ...     OTHER  /EkqCbWDau  /EkqCbWDau
19        data      1  2012-05-08 23:09:35.0  ...     OTHER  /0FxP3az1x  /0FxP3az1x
20       Voice      6  2012-05-08 23:09:40.0  ...     19e2e  0eA3S0GqHt  0eA3S0GqHt
21        data      0  2012-05-08 23:09:43.0  ...     OTHER  /0LopuZdd7  /0LopuZdd7
22         sms      0  2012-05-08 23:09:47.0  ...     19e2e  0UFkHqX87G  0UFkHqX87G
23         sms     25  2012-05-08 23:09:48.0  ...     19e2e  2q0YsSCxbH  2q0YsSCxbH
24         sms      0  2012-05-08 23:10:16.0  ...     19e2e  1MTLUFpdzd  1MTLUFpdzd
25       Voice      0  2012-05-08 23:10:18.0  ...     19e2e  0/eYPFomxx  0/eYPFomxx
26         sms     25  2012-05-08 23:10:19.0  ...     19e2e  ++ctND+jGD  ++ctND+jGD
27        data      1  2012-05-08 23:10:20.0  ...     OTHER  ++ctND+jGD  ++ctND+jGD
28         sms      0  2012-05-08 23:10:58.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
29       Voice      0  2012-05-08 23:11:04.0  ...     19e2e  18iJZATMMC  18iJZATMMC
...        ...    ...                    ...  ...       ...         ...         ...
273940     sms      0  2012-05-09 05:10:12.0  ...     19e2e  885037e317  a7bd4c027b
273941     sms      0  2012-05-09 05:10:12.0  ...     19e2e  cc09091002  bdeafe55f0
273942     sms     25  2012-05-09 05:10:12.0  ...     19e2e  da3bdb03a1  c2545171dc
273943     sms      0  2012-05-09 05:10:12.0  ...     19e2e  1712c27ed4  33420c4250
273944     sms      0  2012-05-09 05:10:12.0  ...     19e2e  5aa4e8eff6  080108452a
273945     sms      0  2012-05-09 05:10:13.0  ...     19e2e  d3877ceeca  8cdff2a0a2
273946     sms      0  2012-05-09 05:10:13.0  ...     19e2e  7c922f4bc5  2d2f1a18ab
273947     sms      0  2012-05-09 05:10:13.0  ...     19e2e  8db6ad17c2  098f2f154a
273948     sms      0  2012-05-09 05:10:13.0  ...     19e2e  a2d35deb78  bdeafe55f0
273949     sms      0  2012-05-09 05:10:13.0  ...     19e2e  abcf74be80  8ae14499cc
273950     sms      0  2012-05-09 05:10:13.0  ...     19e2e  74ffac08d2  66e2080825
273951     sms      0  2012-05-09 05:10:13.0  ...     19e2e  2c12dfd9c3  2f999e24c2
273952     sms      0  2012-05-09 05:10:13.0  ...     19e2e  99586d686c  012114d799
273953   Voice    430  2012-05-09 05:10:13.0  ...     19e2e  52c88d8f3b  d97af85bcd
273954   Voice     25  2012-05-09 05:10:13.0  ...     19e2e  dd11e50b5d  1ddea341cd
273955   Voice     90  2012-05-09 05:10:13.0  ...     19e2e  4a30d7eebb  2825b16be5
273956   Voice     29  2012-05-09 05:10:13.0  ...     19e2e  69aa8d0f17  16205e9f52
273957   Voice      8  2012-05-09 05:10:13.0  ...     19e2e  a2d35deb78  bdeafe55f0
273958    data      0  2012-05-09 05:10:13.0  ...     OTHER  ffa6759bb2         NaN
273959    data      0  2012-05-09 05:10:13.0  ...     OTHER  ffa6759bb2         NaN
273960   Voice     28  2012-05-09 05:10:14.0  ...     19e2e  7773627c12  9ef9616350
273961   Voice     10  2012-05-09 05:10:14.0  ...     19e2e  89f6e90646  c6bd18d180
273962   Voice    178  2012-05-09 05:10:14.0  ...     OTHER  f324e90690  77b9226647
273963   Voice     20  2012-05-09 05:10:14.0  ...     19e2e  d0b9055142  7f76d66503
273964    data      0  2012-05-09 05:10:14.0  ...     OTHER  ffa6759bb2         NaN
273965    data      0  2012-05-09 05:10:14.0  ...     OTHER  ffa6759bb2         NaN
273966    data      0  2012-05-09 05:10:14.0  ...     OTHER  ffa6759bb2         NaN
273967     sms      0  2012-05-09 05:10:14.0  ...     19e2e  253f3e83ab  f11e961893
273968     sms    100  2012-05-09 05:10:14.0  ...     OTHER  f9639af5ac  70e2654621
273969     sms     50  2012-05-09 05:10:14.0  ...     19e2e  ba6c99885a         a82

[273970 rows x 10 columns]

In [26]:
df3=pd.DataFrame(file_3)
df3.tail()
#Create a data frame/ helps preview the dataset

       PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B      CELLID     SIET_ID
273965    data      0  2012-05-09 05:10:14.0  ...     OTHER  ffa6759bb2         NaN
273966    data      0  2012-05-09 05:10:14.0  ...     OTHER  ffa6759bb2         NaN
273967     sms      0  2012-05-09 05:10:14.0  ...     19e2e  253f3e83ab  f11e961893
273968     sms    100  2012-05-09 05:10:14.0  ...     OTHER  f9639af5ac  70e2654621
273969     sms     50  2012-05-09 05:10:14.0  ...     19e2e  ba6c99885a         a82

[5 rows x 10 columns]

In [27]:
df3.columns=['PRODUCT', 'VALUE', 'DATE', 'CELL', 'NUM_INT_A', 'NUM_INT_B', 'COUNTRY_A', 'COUNTRY_B', 'CELL_ID', 'SITE_ID' ]
df3.head()

  PRODUCT  VALUE                   DATE  ... COUNTRY_B     CELL_ID     SITE_ID
0   Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1     sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2   Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3     sms      0  2012-05-08 23:03:04.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     22  2012-05-08 23:03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA

[5 rows x 10 columns]

In [29]:
file_4=pd.read_csv('cells_geo.csv', delimiter=';')
file_4

      Unnamed: 0       VILLES  ...     CELL_ID   SITE_CODE
0              0       ADJAME  ...  fbb2e75af3  0bb492ef17
1              1       ADJAME  ...  1502501d78  0bb492ef17
2              2       ADJAME  ...  0c2e182a0c  0bb492ef17
3              3      ASSINIE  ...  69bdfc69fd  8a1e6ce31f
4              4      ASSINIE  ...  7a1029d2ab  8a1e6ce31f
5              5      ASSINIE  ...  0b4f56438f  8a1e6ce31f
6              6     KRIKOREA  ...  041d2504f5  260dbfedc5
7              7        ABOBO  ...  a70c1d263b  56306cc7ca
8              8        ABOBO  ...  e2d04ea883  56306cc7ca
9              9        ABOBO  ...  ee224cd27e  56306cc7ca
10            10        ABOBO  ...  107d0d752c  56306cc7ca
11            11        ABOBO  ...  3f766cedc0  c1ccd3443b
12            12        ABOBO  ...  b0578cdb7f  c1ccd3443b
13            13        ABOBO  ...  18a4221316  c1ccd3443b
14            14        ABOBO  ...  1b2bccad1f  c1ccd3443b
15            15  BINGERVILLE  ...  60865ff87f  17899e217a
16            16  BINGERVILLE  ...  c1dc258dc9  17899e217a
17            17  BINGERVILLE  ...  377ee76a7e  17899e217a
18            18      PLATEAU  ...  46185e38ee  aaca2668a7
19            19      PLATEAU  ...  ddb6bc11df  aaca2668a7
20            20      PLATEAU  ...  c4d2b0444b  aaca2668a7
21            21       ADJAME  ...  fa307adc83  92d827bd96
22            22       ADJAME  ...  4ddfebaf66  92d827bd96
23            23        ABOBO  ...  f740406877  0f34c36ac5
24            24        ABOBO  ...  959e54c8f7  0f34c36ac5
25            25        ABOBO  ...  56b7e7000c  0f34c36ac5
26            26        ABOBO  ...  bc51c17a6f  0f34c36ac5
27            27        ABOBO  ...  e460975c9f  0f34c36ac5
28            28        ABOBO  ...  2d125e9a95  0f34c36ac5
29            29        ABOBO  ...  7cf207ef76  7430461f18
...          ...          ...  ...         ...         ...
3944        3944      ZIKISSO  ...  733df73327  211015b14d
3945        3945      ZIKISSO  ...  68d05744d3  211015b14d
3946        3946      ZIKISSO  ...  98a71b5af2  211015b14d
3947        3947      ZIKISSO  ...  0da64daa69  211015b14d
3948        3948    SAN-PEDRO  ...  ac56822a9d  5d5b23bfed
3949        3949    SAN-PEDRO  ...  6111cb30ce  5d5b23bfed
3950        3950    SAN-PEDRO  ...  fb19b442de  5d5b23bfed
3951        3951    SAN-PEDRO  ...  4df12fefc8  5d5b23bfed
3952        3952    SAN-PEDRO  ...  181a669a32  5d5b23bfed
3953        3953    SAN-PEDRO  ...  d32f225c10  5d5b23bfed
3954        3954      MARCORY  ...  d773723e54  1ff98189c8
3955        3955      MARCORY  ...  291db4f1d7  1ff98189c8
3956        3956      MARCORY  ...  93fcafebca  1ff98189c8
3957        3957      MARCORY  ...  32dbfb021a  1ff98189c8
3958        3958      MARCORY  ...  71d9ff904d  1ff98189c8
3959        3959      MARCORY  ...  bbdd523132  1ff98189c8
3960        3960  ZON-HOUNIEN  ...  a3e5534191  32b8357a82
3961        3961  ZON-HOUNIEN  ...  73dbd423db  32b8357a82
3962        3962  ZON-HOUNIEN  ...  ff3bdca4e3  32b8357a82
3963        3963   ZOUKOUGBEU  ...  317ba2e3e8  443ac3fc19
3964        3964   ZOUKOUGBEU  ...  eee63aed85  443ac3fc19
3965        3965   ZOUKOUGBEU  ...  7ec11bd65b  443ac3fc19
3966        3966      MARCORY  ...  eb76e06e8e  6daf54117b
3967        3967      MARCORY  ...  e3d9d0ca54  6daf54117b
3968        3968     ZUENOULA  ...  dcd3a41af8  f91ed8d2e9
3969        3969     ZUENOULA  ...  1cfc2d7ab1  f91ed8d2e9
3970        3970     ZUENOULA  ...  3ae1708153  f91ed8d2e9
3971        3971     ZUENOULA  ...  cb71f8a29c  61bee9c70c
3972        3972     ZUENOULA  ...  d4a6a0b645  61bee9c70c
3973        3973     ZUENOULA  ...  f9f3e42589  61bee9c70c

[3974 rows x 12 columns]

In [31]:
df4=pd.DataFrame(file_4)
df4.tail()
#Create a data frame/ helps preview the dataset

      Unnamed: 0    VILLES      STATUS  ...          AREA     CELL_ID   SITE_CODE
3969        3969  ZUENOULA  In Service  ...  CENTRE NORTH  1cfc2d7ab1  f91ed8d2e9
3970        3970  ZUENOULA  In Service  ...  CENTRE NORTH  3ae1708153  f91ed8d2e9
3971        3971  ZUENOULA  In Service  ...  CENTRE NORTH  cb71f8a29c  61bee9c70c
3972        3972  ZUENOULA  In Service  ...  CENTRE NORTH  d4a6a0b645  61bee9c70c
3973        3973  ZUENOULA  In Service  ...  CENTRE NORTH  f9f3e42589  61bee9c70c

[5 rows x 12 columns]

In [32]:
project=pd.concat([df1, df2, df3], ignore_index=True )
project.tail()

       PRODUCT  VALUE                   DATE  ... COUNTRY_B     CELL_ID     SITE_ID
579895    data      0  2012-05-09 05:10:14.0  ...     OTHER  ffa6759bb2         NaN
579896    data      0  2012-05-09 05:10:14.0  ...     OTHER  ffa6759bb2         NaN
579897     sms      0  2012-05-09 05:10:14.0  ...     19e2e  253f3e83ab  f11e961893
579898     sms    100  2012-05-09 05:10:14.0  ...     OTHER  f9639af5ac  70e2654621
579899     sms     50  2012-05-09 05:10:14.0  ...     19e2e  ba6c99885a         a82

[5 rows x 10 columns]

In [36]:
project_1=project.drop(columns=['CELL','COUNTRY_A','COUNTRY_B'])
project_1.head()

  PRODUCT  VALUE  ...     CELL_ID     SITE_ID
0   Voice      0  ...  /TJNe+Mmtu  /TJNe+Mmtu
1     sms      0  ...  /+cKZKIp41  /+cKZKIp41
2     sms     25  ...  /u0FSD+ahi  /u0FSD+ahi
3   Voice     56  ...  +cNeJzsTp3  +cNeJzsTp3
4   Voice     14  ...  051KhYDCpv  051KhYDCpv

[5 rows x 7 columns]

In [37]:
project_1[['DATE', 'TIME']] = project_1.DATE.str.split(expand=True)
project_1.head()

  PRODUCT  VALUE        DATE  ...     CELL_ID     SITE_ID        TIME
0   Voice      0  2012-05-06  ...  /TJNe+Mmtu  /TJNe+Mmtu  23:04:37.0
1     sms      0  2012-05-06  ...  /+cKZKIp41  /+cKZKIp41  23:05:25.0
2     sms     25  2012-05-06  ...  /u0FSD+ahi  /u0FSD+ahi  23:05:41.0
3   Voice     56  2012-05-06  ...  +cNeJzsTp3  +cNeJzsTp3  23:05:42.0
4   Voice     14  2012-05-06  ...  051KhYDCpv  051KhYDCpv  23:06:29.0

[5 rows x 8 columns]

In [41]:
#To check the dates in the data set

project_1['DATE'].unique().tolist()

['2012-05-06', '2012-05-07', '2012-05-08', '2012-05-09']

In [42]:
#To check the products in the dataset
project_1['PRODUCT'].unique().tolist()

['Voice', 'sms', 'data']

In [46]:
#Find the volume of usage of data, voice , sms per day:
#Which product is more popular
#How much money does it make for the company
project_1.VALUE.groupby(project_1['PRODUCT']).sum()

PRODUCT
Voice    6350145
data      388621
sms       743367
Name: VALUE, dtype: int64